<div class="row">
  <div class="span16">
    <div class="row">
      <div class="span8">
        <%= render :partial => "craftsmen/sessions/form" %>
      </div>
      <div class="span6 offset2">
        <%= image_tag "creeper.png" %>
      </div>
    </div>
  </div>
</div>



